---
export interface PageProps {
  title: [string, string];
  subtitle?: string;
  h2: boolean;
  titleTransition: string;
}

export type Props = PageProps;

const { props } = Astro;
---

{
  props.h2 ? (
    <h2 class="text-4xl my-4 tracking-tight leading-14 capitalize font-bold">
      {
        'titleTransition' in props ? (
            <>
              {props.title[0]}
              <span transition:name={props.titleTransition}>
                {props.title[1]}
              </span>
            </>
          ) : (
            <>
              {props.title}
            </>
          )
      }
    </h2>
  ) : (
    <h1 class="text-5xl my-4 tracking-tight leading-14 capitalize font-bold">
      {
        'titleTransition' in props ? (
            <>
              {props.title[0]}
              <span transition:name={props.titleTransition}>
                {props.title[1]}
              </span>
            </>
          ) : (
            <>
              {props.title}
            </>
          )
      }
    </h1>
  )
}

{props.subtitle && (
  <p class="my-2 text-xl leading-7 text-gray-700 dark:text-gray-400">
    {props.subtitle}
  </p>
)}
