---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title="Blog">
  <Main pageTitle={["¡Hola mundo!"]} pageDesc={SITE.blogQuote}>
    <p class="pt-5">This is an archive of my journey to explore and conquer the inner workings of computers, from the subatomic particles in transistors to the cool stuff we do with processors, operating systems, and web browsers. Occasionaly, I’ll also give my two cents on philosophy. All opinions are my own.</p>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/blog/${slug}/`} frontmatter={data} tags={data.tags} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/blog${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/blog/${currentPage + 1}/`}
  />
</Layout>
